.about {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 60px;
	padding: 0 40px 40px 40px;
}
.about-pic-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.about-pic {
	border-radius: 50%;
	border: 10px solid #2302c9;
	height: 320px;
}
#about {
	padding-top: 58px !important;
}
.about-section-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}
.about-section-text a {
	color: #2302c9;
}
#hexagons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hexagon {
	display: flex;
	justify-content: center;
	width: 100%;
	float: left;
	margin-bottom: 8px;
}
.fa-fire {
	margin-left: 13px;
}
.fa-3x {
	color: white;
}
.box-8 {
	float: left;
	border-right: 30px solid #2302c9;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}
.box-10 {
	float: left;
	border-left: 30px solid #2302c9;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}
.box-9 {
	display: flex;
	align-items: center;
	float: left;
	width: 60px;
	height: 104px;
	background-color: #2302c9;
}

/* --- Responsiveness --- */

/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
	.about {
		grid-template-columns: 1fr;
	}
	.about-pic {
		height: 200px;
		width: 200px;
		border-width: 7px;
	}
	#hexagons {
		grid-template-columns: 2fr 2fr;
		padding: 32px;
	}
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.about {
		grid-template-columns: 1fr;
	}

	.about-pic {
		height: 200px;
		width: 200px;
		border-width: 7px;
	}
	#hexagons {
		grid-template-columns: 2fr 2fr;
		padding: 32px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.about {
		grid-template-columns: 1fr;
	}
	.about-pic {
		height: 200px;
		width: 200px;
		border-width: 7px;
	}
	#hexagons {
		grid-template-columns: 2fr 2fr;
		padding: 32px;
	}
}

/* Large devices (desktops & landscape tablets, 992px and up)*/
@media (min-width: 992px) {
	.about {
		grid-template-columns: 1fr 2fr;
	}
	.about-pic {
		border-radius: 50%;
		border: 10px solid #2302c9;
		height: 480px;
		width: 480px;
	}
	#hexagons {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.about {
		grid-template-columns: 1fr 2fr;
	}
	.about-pic {
		border-radius: 50%;
		border: 10px solid #2302c9;
		height: 480px;
		width: 480px;
	}
}
