.btn-custom {
	color: white;
	padding: 8px 24px;
	border: 1px solid white;
	margin: 8px;
}
.rotate-90 {
	transition: transform .6s;
	transform: rotate(90deg);
}
.rotate-90-counter {
	transition: transform .6s;
	transform: rotate(-90deg);
}
