@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Open+Sans:400,700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Open+Sans:400,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700&display=swap');*/

h1,
h2,
h3,
h4 {
	font-family: 'Dosis', sans-serif;
	color: #2a4454;
	font-weight: bold;
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'Raleway', sans-serif;;*/
}
h5,
p,
a {
	font-family: 'Open Sans', sans-serif;
	color: black;
	/*font-family: 'Hind', sans-serif;*/
	/*font-family: 'Roboto', sans-serif;*/
}
